<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账单列表</title>
</head>
<body>
<style>
    .bill-search-area-textbox-dev{
        width:33%;
        float: left;
        padding-left:15px;
        margin-top: 8px;
    }
    /*去除文本框label的padding*/
    .textbox-label{
        padding: 0 !important
    }
</style>
<div class="easyui-layout" style="width:100%;height:100%;">
    <!--顶部搜索区域-->
    <div data-options="region:'north'" style="width:100%;height:15%;">
        <!--取餐号-->
        <div class="bill-search-area-textbox-dev">
            <input id="mealNumId" class="easyui-textbox" data-options="validType:'poInt(this)',type:'text',label:'取餐号:',labelPosition: 'before',labelWidth:50,prompt: '请输入取餐号'" style="width: 95%;" >
        </div>
        <!--订单号-->
        <div class="bill-search-area-textbox-dev">
            <input id="orderNum" class="easyui-textbox" data-options="validType:'poInt(this)',type:'text',label:'订单号:',labelPosition: 'before',labelWidth:50,prompt: '请输入订单号'" style="width:95%">
        </div>
        <!--消费金额-->
        <div class="bill-search-area-textbox-dev">
            <input id="consumerMoneyId" class="easyui-textbox" data-options="validType:'poFloat(this)',type:'text',label:'消费金额:',labelPosition: 'before',labelWidth:63,prompt: '请输入消费金额'" style="width:98%">
        </div>
        <!--时间范围-->
        <div style="float: left;margin-top:10px;margin-left:15px;">
            <!--开始时间-->
            <span>开始时间:</span>
            <input id="billStartTimeId" class="easyui-datetimebox" editable="fasle" validType="poDate(this)" style="width: 250px">
            <!--结束时间-->
            <span style="margin-left:15px;">结束时间:</span>
            <input id="billEndTimeId" class="easyui-datetimebox" editable="fasle" validType="poDate(this)" style="width: 250px">
        </div>
        <!--查询按钮-->
        <a id="billSearchButtonId" href="#" class="easyui-linkbutton" style="margin-top:10px;margin-left:20px;width:100px;" >查询</a>
        <!--重置按钮-->
        <a id="billResetButtonId" href="#" class="easyui-linkbutton" style="margin-top:10px;margin-left:20px;width:100px;" >重置</a>
    </div>
    <!--底部数据显示区域-->
    <div data-options="region:'center',border:false">
        <!--账单数据table-->
        <table id="billDataListTable" style="width:100%;height:100%"></table>
    </div>
</div>
<script>
    // 计算宽度百分比
    function billFixWidth(percent) {
        return document.body.clientWidth * percent; //这里你可以自己做调整
    };
    var billData = {"total":18,"rows":[
            {"id":1,"orderNum":"FI-SW-01","mealNum":"Koi","totalPrice":"10.00","createTime":"EST-1"},
            {"id":1,"orderNum":"K9-DL-01","mealNum":"Dalmation","totalPrice":"12.00","createTime":"EST-10"},
            {"id":1,"orderNum":"RP-SN-01","mealNum":"Rattlesnake","totalPrice":"12.00","createTime":"EST-11"},
            {"id":1,"orderNum":"RP-SN-01","mealNum":"Rattlesnake","totalPrice":"12.00","createTime":"EST-12"},
            {"id":1,"orderNum":"RP-LI-02","mealNum":"Iguana","totalPrice":"12.00","createTime":"EST-13"},
            {"id":1,"orderNum":"FL-DSH-01","mealNum":"Manx","totalPrice":"12.00","createTime":"EST-14"},
            {"id":1,"orderNum":"FL-DSH-01","mealNum":"Manx","totalPrice":"12.00","createTime":"EST-15"},
            {"id":1,"orderNum":"FL-DLH-02","mealNum":"Persian","totalPrice":"12.00","createTime":"EST-16"},
            {"id":1,"orderNum":"FL-DLH-02","mealNum":"Persian","totalPrice":"12.00","createTime":"EST-17"},
            {"id":1,"orderNum":"AV-CB-01","mealNum":"Amazon Parrot","totalPrice":"92.00","createTime":"EST-18"}
        ]
    };
    // 实例化已选菜品表格控件
    var billDataListTable = $('#billDataListTable').datagrid({
        data: billData,
        fitColumns: true,
        scrollbarSize: 13,
        singleSelect: true,
        idField: 'id',
        pagination: true,
        columns: [
            [
                {
                    field: 'id',
                    hidden: true,
                    title: '账单标识'
                },
                {
                    width: billFixWidth(0.2),
                    field: 'orderNum',
                    title: '订单号',
                    align: 'center',
                    halign: 'center',
                    resizable: false
                },
                {
                    width: billFixWidth(0.2),
                    field: 'mealNum',
                    title: '取餐号',
                    align: 'center',
                    halign: 'center',
                    resizable: false
                },
                {
                    width: billFixWidth(0.2),
                    field: 'totalPrice',
                    title: '消费金额',
                    align: 'center',
                    halign: 'center',
                    resizable: false,
                    formatter: function (value, row, index) {
                        if((value + '').split('￥').length == 1){
                            return '￥' + value;
                        } else {
                            return value;
                        }
                    }
                },
                {
                    width: billFixWidth(0.2),
                    field: 'createTime',
                    title: '下单时间',
                    align: 'center',
                    halign: 'center',
                    resizable: false
                },
                {
                    width: billFixWidth(0.2),
                    field: 'operate',
                    title: '操作',
                    align: 'center',
                    halign: 'center',
                    resizable: false,
                    formatter: function (value, row, index) {
                        return '<a href="#" name="billDataListTableOperateId" class="easyui-linkbutton" >详情</a>';
                    }
                }
            ]
        ],
        onLoadSuccess: function (data) {
            // 每行操作添加icon
            $("a[name='billDataListTableOperateId']").linkbutton({plain: true});
            // 每行操作绑定单击事件
            $("a[name='billDataListTableOperateId']").bind('click', function () {
                // 获取当前行的ID值

                // 获取数据
            });
            // 设置table只有底线
            $('#billDataListTable').datagrid('getPanel').removeClass('lines-bottom').addClass('lines-bottom');
            // 获取分页分页
            $('#billDataListTable').datagrid('getPager').pagination({
                pageNumber: 1,
                pageSize: 3,
                showPageList: false,
                beforePageText: '第',
                afterPageText: '页 共 {pages}页',
                displayMsg: '共 {total}条记录',
                onSelectPage: function (pageNum, pageSize) {
                    // 查询账单数据
                    queryBillDataByParam();
                }
            });
        }
    });
    // 实例化查询条件结束时间组件
    var billDateBoxEndTime = $('#billEndTimeId').datetimebox({
        showSeconds: false,
        closeText:'关闭',
        okText:'确定',
        currentText:'今天',
        formatter:billSearchTimeFormatter,
        parser:billSearchTimeParser
    });
    // 实例化查询条件开始时间组件
    var billDateBoxStartTime = $('#billStartTimeId').datetimebox({
        showSeconds: false,
        closeText:'关闭',
        okText:'确定',
        currentText:'今天',
        formatter:billSearchTimeFormatter,
        parser:billSearchTimeParser,
        onSelect: function(sdate){
            // 开始时间选中后,设置结束时间只能选择大于等于开始时间的日期
            billDateBoxEndTime.datetimebox('calendar').calendar({
                validator: function(date){
                    return date >= sdate;
                }
            });
        }
    });
    // 重置按钮单击事件
    $('#billResetButtonId').bind('click',function () {
        // 清空消费金额
        $('#consumerMoneyId').textbox('reset');
        // 清空取餐号
        $('#mealNumId').textbox('reset');
        // 清空订单号
        $('#orderNum').textbox('reset');
        // 清空开始时间
        billDateBoxStartTime.datetimebox('setValue','');
        // 清空结束时间
        billDateBoxEndTime.datetimebox('setValue','');
        // 触发查询按钮单击事件
        $('#billSearchButtonId').click();
    });
    // 查询按钮绑定单击事件
    $('#billSearchButtonId').bind('click', function(){
        queryBillDataByParam();
    });
    // 根据条件查询账单数据
    function queryBillDataByParam() {
        // 获取消费金额验证结果
        var conPriceValid = $('#consumerMoneyId').textbox('isValid');
        // 获取取餐号验证结果
        var mealNumValid = $('#mealNumId').textbox('isValid');
        // 获取订单号验证结果
        var orderNumValid = $('#orderNum').textbox('isValid');
        // 获取开始时间验证结果
        var startTimeVaild = billDateBoxStartTime.datetimebox('isValid');
        // 获取结束时间验证结果
        var endTimeValid = billDateBoxEndTime.datetimebox('isValid');
        // 获取查询条件验证结果，有验证失败的结束操作
        if(!conPriceValid || !mealNumValid || !orderNumValid || !startTimeVaild || !endTimeValid){
            return false;
        }
        // 构造查询条件对象
        var queryParam = new Object();
        // 获取消费金额
        queryParam.conPrice = $('#consumerMoneyId').textbox('getValue');
        // 获取取餐号
        queryParam.mealNum = $('#mealNumId').textbox('getValue');
        // 获取订单号
        queryParam.orderNum = $('#orderNum').textbox('getValue');
        // 开始时间
        queryParam.startTime = billDateBoxStartTime.datetimebox('getValue');
        // 结束时间
        queryParam.endTime = billDateBoxEndTime.datetimebox('getValue');
        // 获取当前页码
        queryParam.currPageNum = $('#billDataListTable').datagrid('getPager').data("pagination").options.pageNumber;
        // 获取账单数据
        $.ajax({
            //请求方式
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            //请求地址
            url: "order/queryBillByParam",
            //数据，json字符串
            data: JSON.stringify(queryParam),
            //请求成功
            success: function (result) {
                if(result){
                    // 弹出操作成功提示框
                    $.messager.show({
                        ok:'确定',
                        cancel:'取消',
                        title:'提示',
                        msg:'操作成功!',
                        showType:'null',
                        style:{
                            right:'',
                            top:document.body.scrollTop+document.documentElement.scrollTop,
                            bottom:''
                        }
                    });
                } else {
                    $.messager.show({
                        ok:'确定',
                        cancel:'取消',
                        title:'提示',
                        msg:'操作失败，请检查后重试!',
                        showType:'null',
                        style:{
                            right:'',
                            top:document.body.scrollTop+document.documentElement.scrollTop,
                            bottom:''
                        }
                    });
                }
            },
            //请求失败，包含具体的错误信息
            error: function (e) {
                console.log(e.status);
                console.log(e.responseText);
                $.messager.show({
                    ok:'确定',
                    cancel:'取消',
                    title:'提示',
                    msg:'操作失败，请检查后重试!',
                    showType:'null',
                    style:{
                        right:'',
                        top:document.body.scrollTop+document.documentElement.scrollTop,
                        bottom:''
                    }
                });
            }
        });
    }
    // 重写验证规格，验证是否为正整数和小数点
    $.extend($.fn.validatebox.defaults.rules, {
        poFloat: {
            validator: function(value, param){
                // 验证带小数点数
                return /^\d+(\.\d+)?$/i.test(value);
            },
            message: '请输入正确的金额!'
        },
        poInt: {
            validator: function(value, param){
                // 验证正整数
                return /(^[1-9]\d*$)/.test(value);
            },
            message: '请输入正确的值!'
        },
        poDate: {
            validator: function(value, param){
                // 验证日期格式为 yyyy-MM-dd HH:mm
                return /^\d{4,}\-(?:0?\d|1[12])\-(?:[012]?\d|3[01]) (?:[01]?\d|2[0-4]):(?:[0-5]?\d|60)$/.test(value);
            },
            message: '请输入正确的日期!'
        }
    });
    // 格式化账单时间查询条件
    function billSearchTimeFormatter(date) {
        var y = date.getFullYear();
        var m = date.getMonth()+1;
        var d = date.getDate();
        var h = date.getHours();
        var min = date.getMinutes();
        var formatStr = y + '-' + (m < 10 ? ('0' + m) : m) + '-' + (d < 10 ? ('0' + d) : d) + ' ' + (h < 10 ? ('0' + h) : h) + ':' + (min < 10 ? ('0' + min) : min) ;
        return formatStr
    };
    // 解析账单时间查询条件,返回date为日期下拉面板中显示的时间
    function billSearchTimeParser(s) {
        var orgTimeStr = s.split(' ');
        if(orgTimeStr.length <= 1){
            return new Date();
        }
        var dateStr = (orgTimeStr[0].split('-'));
        var y = parseInt(dateStr[0],10);
        var m = parseInt(dateStr[1],10);
        var d = parseInt(dateStr[2],10);
        var dateTime = (orgTimeStr[1].split(':'));
        var h = parseInt(dateTime[0],10);
        var min = parseInt(dateTime[1],10);
        if (!isNaN(y) && !isNaN(m) && !isNaN(d) && !isNaN(h) && !isNaN(min)){
            return new Date(y,m-1,d,h,min);
        } else {
            return new Date();
        }
    };
</script>
</body>
</html>