<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>按菜品类型分组菜品列表</title>
</head>
<body>
<style>
    .order-tabs-food-infos{
        display: inline-block;
        margin-top: 10px;
        margin-left: 5px;
        width: 18%;
        height: 100px;
        line-height: 100px;
        /*text-align: center;*/
        background-color: #FFFFFF;
        border-radius:5px;
    }
</style>
<div style="width: 100%;height: 100%;background-color: #999999">
    <div th:each="food:${foodInfos}" class="order-tabs-food-infos">
        <!--<span th:text="${food['name']}" style="display: block;top: 5px;background-color: red;height:10%"></span>-->
        <!--<span th:text="${food['price']}+'/'+${food['specs']}" style="height:10%;display: block;bottom: 5px;background-color: yellow;"></span>-->
    </div>
</div>
</body>
</html>