<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单</title>
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/easyui/css/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/easyui/css/icon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/easyui/css/demo.css}">
    <script type="text/javascript" th:src="@{/plugin/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugin/easyui/js/jquery.easyui.min.js}"></script>
</head>
<body>
<style type="text/css">
    .lines-bottom .datagrid-body td {
        border-right: 1px dotted transparent;
    }

    .lines-bottom .datagrid-footer td {
        border-right: 1px dotted transparent;
    }

    .order-oper-goto-pay-button {
        width: 150px;
        height: 39px;
        font-weight: bold;
        color: #FF7744;
        position: absolute;
        right: 35px;
        display: flex;
        align-items: center; /*定义body的元素垂直居中*/
        justify-content: center; /*定义body的里的元素水平居中*/
    }
    .order-operate-button{
        width: 90px;
        height: 30px;
        margin: 0;
        margin-left: 5px;
        margin-top: 3px;
        font-size: 14px;
        font-weight: bold;
    }
    .order-operate-button:hover {
        background: #eaf2ff;
        color: #000000;
        filter: none;
    }

</style>
<div class="easyui-layout" style="width:100%;height:100%;">
    <!--左侧已点菜品列表-->
    <div data-options="title:'订单列表',region:'west',border:false,collapsible:false" style="width: 28%;">
        <!--已点菜品table-->
        <table id="selectedFoodTable" style="width:100%;height:100%"></table>
    </div>
    <!--右侧展示区-->
    <div data-options="region:'center',border:false">
        <!--右侧layout容器-->
        <div class="easyui-layout" style="width:100%;height:100%;">
            <!--右侧顶部操作区-->
            <div data-options="region:'north'" style="width:100%;height:18%;">
                <div class="easyui-layout" style="width:100%;height:100%;">
                    <!--操作区-->
                    <div data-options="region:'north',border:false"
                         style="width:100%;height:62%;background-color: #999999">
                        <input class="order-operate-button" type="button" value="1"/>
                        <input class="order-operate-button" type="button" value="2"/>
                        <input class="order-operate-button" type="button" value="3"/>
                        <input class="order-operate-button" type="button" value="4"/>
                        <input class="order-operate-button" type="button" value="5"/>
                        <input class="order-operate-button" type="button" value="6"/>
                        <input class="order-operate-button" type="button" value="7"/>
                        <input class="order-operate-button" type="button" value="8"/>
                        <input class="order-operate-button" type="button" value="9"/>
                        <input class="order-operate-button" type="button" value="自定义数量"/>
                        <input class="order-operate-button" type="button" value="加"/>
                        <input class="order-operate-button" type="button" value="减"/>
                        <input class="order-operate-button" type="button" value="删"/>
                        <input class="order-operate-button" type="button" value="清空"/>
                    </div>
                    <!--搜索区-->
                    <div data-options="region:'center',border:false"
                         style="width:100%;display:flex;align-items:center;background-color: #999999">
                        <input id="searchFoodId" class="easyui-searchbox" style="width:50%;" />
                    </div>
                </div>
            </div>
            <!--菜品列表展示区域-->
            <div data-options="region:'center'" style="width:100%;height:72%;">
                <!--菜品类型tabs-->
                <div id="foodTypeTabId" class="easyui-tabs" style="width:100%;height:100%;"></div>
            </div>
            <!--底部结算区域-->
            <div data-options="region:'south'"
                 style="width:100%;height:10%;display:flex;align-items:center;background-color:#999999;">
                <div id="orderPayWin"></div>
                <a id="goToPayButId" href="#" class="easyui-linkbutton order-oper-goto-pay-button">去结账</a>
            </div>
        </div>
    </div>
</div>
<script>
    // 设置table只有底线
    function removeTableLines() {
        $('#selectedFoodTable').datagrid('getPanel').removeClass('lines-bottom').addClass('lines-bottom');
    };
    // 计算宽度百分比
    function fixWidth(percent) {
        return document.body.clientWidth * percent; //这里你可以自己做调整
    };
    // 实例化已选菜品表格控件
    var selectedFoodTable = $('#selectedFoodTable').datagrid({
        data: [],
        fitColumns: true,
        scrollbarSize: 13,
        singleSelect: true,
        showFooter: true,
        columns: [
            [
                {field: 'id', hidden: true, title: '菜品标识'},
                {
                    width: fixWidth(0.4),
                    field: 'name',
                    title: '品名',
                    align: 'center',
                    halign: 'center',
                    resizable: false,
                    formatter: function (value, row, index) {
                        if (value.length > 5) {
                            return '<span title="' + value + '">' + value + '</span>';
                        } else {
                            return value;
                        }
                    }
                },
                {
                    width: fixWidth(0.15),
                    field: 'num',
                    align: 'right',
                    halign: 'center',
                    resizable: false,
                    title: '数量'
                },
                {
                    width: fixWidth(0.23),
                    field: 'specs',
                    align: 'right',
                    halign: 'center',
                    resizable: false,
                    title: '规格',
                    formatter: function (value, row, index) {
                        if (typeof (value) != 'undefined' && value.length > 3) {
                            return '<span title="' + value + '">' + value + '</span>';
                        } else {
                            return value;
                        }
                    }
                },
                {
                    width: fixWidth(0.22),
                    field: 'price',
                    align: 'right',
                    halign: 'center',
                    resizable: false,
                    title: '小计(元)'
                }
            ]
        ],
        onLoadSuccess: function (data) {
            // 删除已选菜品列表分隔线样式
            removeTableLines();
        }
    });
    // 获取选中的菜品并同步更新到已选菜品表格中
    function getSelectToFoodsTable(obj) {
        // 获取选中菜品信息
        var selectedFood = $(obj).children("input")[0].value.split(",");
        // 构造已选菜品数据
        var selected = new Object();
        selected.id = selectedFood[0] + "," + selectedFood[3];
        selected.name = selectedFood[1];
        selected.num = 1;
        selected.specs = selectedFood[3];
        selected.price = selectedFood[2];
        // 获取已选菜品列表数据
        var tableData = selectedFoodTable.datagrid('getData');
        var tableRows = tableData.rows;
        // 操作表格数据下标
        var operTableIndex = 0;
        if(tableRows.length <= 0){
            // 构造已选菜品初始数据结构
            var selectedFoodData = [];
            selectedFoodData.push(selected);
            // 首次添加重新加载数据
            selectedFoodTable.datagrid('loadData',selectedFoodData);
        } else {
            // 是否不重复
            var isNotRepeat = true;
            // 非首次添加判断是否重复
            for(var index = 0;index < tableRows.length;index++){
                // 同类菜品数量和价格累加
                if(tableRows[index].id == selected.id){
                    // 累加菜品价格
                    var newPrice =  new Number(new Number(tableRows[index].price) + new Number(selected.price)).toFixed(2);
                    // 如果有重复的菜品就把数量加一
                    selectedFoodTable.datagrid('updateRow',{
                        index: index,
                        row: {
                            num: new Number(tableRows[index].num) + 1,
                            price: newPrice
                        }
                    });
                    // 记录当前操作行索引，后续使用
                    operTableIndex = index;
                    // 重复数据置为false
                    isNotRepeat = false;
                }
            }
            // 如果不是重复菜品
            if(isNotRepeat){
                // 追加一条新数据
                selectedFoodTable.datagrid('appendRow', selected);
                operTableIndex = tableData.rows.length - 1;
            }
        }
        if(operTableIndex > 13){
            // 滚动到当前行
            selectedFoodTable.datagrid('scrollTo',operTableIndex);
        }
        // 选中当前行,后续修改数量用
        selectedFoodTable.datagrid('selectRow',operTableIndex);
        // 跟新底部合计行数据
        updateFooterSum();
    };
    // 更新订单列表底部合计
    function updateFooterSum (){
        // 获取订单列表数据
        var rows = selectedFoodTable.datagrid('getData').rows;
        if(rows.length <= 0){
            // 清空合计行数据
            selectedFoodTable.datagrid('reloadFooter',[]);
            return;
        }
        var sumDate = new Object();
        for(var i = 0; i < rows.length;i++){
            var currRow = rows[i];
            // 计算表格底部合计数据
            if (i == 0){
                sumDate.num = currRow.num;
                sumDate.price = currRow.price;
            } else {
                sumDate.num = new Number(sumDate.num) + new Number(currRow.num);
                sumDate.price = new Number(new Number(sumDate.price) + new Number(currRow.price)).toFixed(2);
            }
        }
        // 合计行数据
        var sumRow = selectedFoodTable.datagrid('getFooterRows');
        // 初始化构造表格底部合计区域
        if(typeof(sumRow) == 'undefined' || sumRow.length <= 0){
            // 重新加载底部合计行
            selectedFoodTable.datagrid('reloadFooter',
                [{
                    name: '合计：',
                    num: sumDate.num + '份',
                    // specs: rows.length + '份',
                    price: '￥' + sumDate.price
                }]
            )
        } else {
            sumRow[0]['num'] = sumDate.num + '份';
            // sumRow[0]['specs'] = rows.length + '份';
            sumRow[0]['price'] = '￥' + sumDate.price;
            selectedFoodTable.datagrid('reloadFooter');
        }
    };
    // 操作区按钮点击事件
    $('.order-operate-button').bind('click', function () {
        // 获取当前点击按钮的值
        var operVal = $.trim($(this).val());
        // 获取当前选择行
        var currSelect = selectedFoodTable.datagrid("getSelected");
        // 获取选中行的索引
        var currIndex = selectedFoodTable.datagrid("getRowIndex",currSelect);
        // 原始菜品信息容器
        var foodInfo = [];
        // 如果当前没有选中菜品
        if(currSelect === null && operVal != '清空'){
            // 重置operVal，执行switch default操作
            operVal = '-1';
        } else if (currSelect != null) {
            // 获取当前选中行原始菜品信息
            foodInfo = $("input[name='" + currSelect.id + "']").val().split(",");
        }
        switch (operVal) {
            case '1':
            case '2':
            case '3':
            case '4':
            case '5':
            case '6':
            case '7':
            case '8':
            case '9':
                var newNum = new Number(operVal);
                if(currSelect.num != newNum){
                    // 计算新菜品价格
                    var newPrice = new Number(new Number(foodInfo[2]) * newNum).toFixed(2);
                    // 如果选中行数量不等于操作数，则更新选中行数量和价钱
                    selectedFoodTable.datagrid('updateRow',{
                        index: currIndex,
                        row: {
                            num: newNum,
                            price: newPrice
                        }
                    });
                };
                break;
            case '自定义数量':
                $.messager.prompt({
                    ok:'确定',
                    cancel:'取消',
                    title:'编辑',
                    msg:'请输入菜品数量',
                    fn:function (inVal) {
                        // 判断输入的是否为正整数
                        if ((/(^[1-9]\d*$)/.test(inVal))) {
                            // 是正整数
                            var newNum = new Number(inVal);
                            if(currSelect.num != newNum){
                                // 计算新菜品价格
                                var newPrice = new Number(new Number(foodInfo[2]) * newNum).toFixed(2);
                                // 如果选中行数量不等于操作数，则更新选中行数量和价钱
                                selectedFoodTable.datagrid('updateRow',{
                                    index: currIndex,
                                    row: {
                                        num: newNum,
                                        price: newPrice
                                    }
                                });
                                // 更新底部合计区域
                                updateFooterSum();
                            };
                        } else {
                            // 否
                            $.messager.alert({
                                ok:'确定',
                                title:'错误',
                                msg:'操作失败，请输入正整数!',
                                icon:'error'
                            });
                        }
                    }
                });
                break;
            case '减':
                if(currSelect.num <= 1){
                    // 如果数量小于或等于1时进行二次确认，点击确定后删除选中行
                    $.messager.confirm('提示', '选中菜品数量不足，确定要从订单中删除该菜品吗?', function(oper){
                        if (oper){
                            // 点击确定按钮后删除选中行
                            selectedFoodTable.datagrid("deleteRow",currIndex);
                            // 更新底部合计区域
                            updateFooterSum();
                        }
                    });
                } else {
                    // 如果数量大于1,数量和价钱减一
                    selectedFoodTable.datagrid('updateRow',{
                        index: currIndex,
                        row: {
                            num: currSelect.num - 1,
                            price: new Number(new Number(currSelect.price) - new Number(foodInfo[2])).toFixed(2)
                        }
                    });
                }
                break;
            case '加':
                // 数量,价钱加一并更新选中行数据
                selectedFoodTable.datagrid('updateRow',{
                    index: currIndex,
                    row: {
                        num: currSelect.num + 1,
                        price: new Number(new Number(currSelect.price) + new Number(foodInfo[2])).toFixed(2)
                    }
                });
                break;
            case '删':
                // 弹出二次确认窗口
                $.messager.confirm('提示', '确定要从订单中删除该菜品吗?', function(oper){
                    if (oper){
                        // 点击确定按钮后删除选中行
                        selectedFoodTable.datagrid("deleteRow",currIndex);
                        // 更新底部合计区域
                        updateFooterSum();
                    }
                });
                break;
            case '清空':
                // 获取订单列表数据
                var orderList = selectedFoodTable.datagrid("getData").rows;
                if(orderList.length <= 0){
                    // 如果订单列表无数据则提示
                    $.messager.alert('提示','订单列表中已经是空的了~','info');
                } else {
                    // 如果订单列表有数据
                    $.messager.confirm('提示', '确定清空该订单列表吗?', function(oper){
                        if (oper){
                            // 点击确定按钮后清空订单列表
                            selectedFoodTable.datagrid("loadData", { total: 0, rows: [] });
                            // 清空合计行数据
                            selectedFoodTable.datagrid('reloadFooter',[]);
                        }
                    });
                }
                break;
            default:
                // 获取订单列表数据
                var orderList = selectedFoodTable.datagrid("getData").rows;
                if(orderList.length <= 0){
                    $.messager.alert('提示','订单列表中还没有菜品呦~','info');
                } else {
                    $.messager.alert('提示','订单列表中还没有菜品被选中呦~','info');
                }
        }
        // 如果是合法操作,更新底部合计数据
        if(operVal != '-1'){
            // 更新底部合计数据
            updateFooterSum();
        }
    });
// ------------------------------------无奈的分割线--------------------------------------------
    // 实例化菜品类型tab控件
    var foodTypeTabs = $('#foodTypeTabId').tabs({
        border: false,
    });
    // 获取菜品类型，创建tabs
    $.ajax({
        //请求方式
        type: "POST",
        //请求地址
        url: "food/queryFoodTypes",
        //数据，json字符串
        data: {
            traceId: 111
        },
        //请求成功
        success: function (result) {
            $('#foodTypeTabId').tabs('add', {
                id: 0,
                title: '全部',
                href: 'food/queryFoodsByTypeAndCode',
                selected: true
            });
            if (result.length > 0) {
                for (var index in result) {
                    $('#foodTypeTabId').tabs('add', {
                        id: result[index].id,
                        title: result[index].name,
                        href: 'food/queryFoodsByTypeAndCode?foodTypeId=' + result[index].id,
                        selected: false
                    });
                }
            }
        },
        //请求失败，包含具体的错误信息
        error: function (e) {
            console.log(e.status);
            console.log(e.responseText);
        }
    });
// ------------------------------------无奈的分割线--------------------------------------------
    // 实例化查询控件
    $('#searchFoodId').searchbox({
        searcher: searchByFoodCode,
        prompt: '输入菜品名称首字母查询'
    });
    // 搜索框搜索方法
    function searchByFoodCode(value) {
        // 获取当前选中tab
        var currTab = foodTypeTabs.tabs('getSelected');
        // 更新当前tab内容
        currTab.panel('refresh', 'food/queryFoodsByTypeAndCode?foodCode='+ value);
    };

// ------------------------------------无奈的分割线--------------------------------------------
    // 实例化窗口组件
    var payWin = $('#orderPayWin').window({
        title:'结账',
        width:fixWidth(0.56),
        height:fixWidth(0.39),
        modal:true,
        collapsible:false,
        minimizable:false,
        closed:true,
    });
    // 绑定去结算按钮点击事件
    $('#goToPayButId').bind('click',function () {
        // 获取总消费金额,已点菜品底部合计金额部分
        var totalMoney = selectedFoodTable.datagrid('getFooterRows');
        // 判断是否有合计金额
        if(typeof(totalMoney) == 'undefined' || totalMoney.length <= 0){
            $.messager.alert('提示','还没有点菜呦~','info');
        } else {
            // 获取总共消费钱数
            var needPayMoney = new Number(totalMoney[0].price.substring(1)).toFixed(2);
            // 获取已选菜品数据
            var selFoods = selectedFoodTable.datagrid("getData").rows;
            // id参数变量
            var foodIds = '';
            // 循环已选菜品并构造id参数
            for(var i = 0;i < selFoods.length;i++){
                if(i == 0){
                    foodIds = selFoods[i].id;
                } else {
                    foodIds = foodIds + ';' + selFoods[i].id;
                }
            }
            // 刷新结算页面
            payWin.window('refresh', 'food/toPay?foodIds=' + foodIds);
            // 打开支付窗口
            payWin.window('open');
        }
    });
</script>
</body>
</html>