<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
</head>
<body>
<style>
    .order-details-info{
        height: 50px;
        width: 50%;
        text-align: center;
        line-height: 50px;
        font-size: 15px;
        float: left;
    }
</style>
<!--获取要显示的orderId-->
<input id="orderDetailsOrderIDInputId" type="hidden" th:value="${order.id}" />
<!--easyui layout组件-->
<div class="easyui-layout" style="width:100%;height:100%;">
    <!--订单菜品列表-->
    <div data-options="region:'west',border:false" style="width:30%;">
        <!--已点菜品table-->
        <table id="orderDetailFoodListTableId" title="菜品明细" style="width:100%;height:100%"></table>
    </div>
    <!--订单支付明细列表-->
    <div data-options="region:'east',border:false" style="width:15%;">
        <!--支付明细table-->
        <table id="orderDetailsPayTableId" title="支付明细" style="width:100%;height:100%"></table>
    </div>
    <!--订单其他信息显示区域-->
    <div data-options="region:'center',border:false,title:'订单信息'">
        <!--外层容器-->
        <div style="width: 100%;height: 100%">
            <div class="order-details-info">
                <span>订单号：</span>
                <span th:text="${order.orderNum}"></span>
            </div>
            <div class="order-details-info">
                <span>消费金额：</span>
                <span th:text="${order.totalMoney}"></span>
            </div>
            <div class="order-details-info">
                <span>取餐号：</span>
                <span th:text="${order.mealNum}"></span>
            </div>
            <div class="order-details-info">
                <span>支付金额</span>
                <span th:text="${order.paidMoney}"></span>
            </div>
            <div class="order-details-info">
                <span>所选菜品数：</span>
                <span id="orderDetailsFoodCountId"></span>
            </div>
            <div class="order-details-info">
                <span>找零金额：</span>
                <span th:text="${order.changeMoney}"></span>
            </div>
            <div class="order-details-info">
                <span>所选菜品种类数：</span>
                <span id="orderDetailsFoodTypeCountId"></span>
            </div>
            <div class="order-details-info">
                <span>下单时间：</span>
                <span th:text="${order.modify_time}"></span>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        // 计算宽度百分比
        function orderDetailFixWidth(percent) {
            return document.body.clientWidth * percent; //这里你可以自己做调整
        };
        // 实例化已选菜品表格控件
        $('#orderDetailFoodListTableId').datagrid({
            url: 'order/queryOrderFoodByOrderId',
            fitColumns: true,
            queryParams:{
                orderId: $('#orderDetailsOrderIDInputId').val()
            },
            loadMsg:'努力加载中...',
            scrollbarSize: 6,
            rownumbers: true,
            singleSelect: true,
            columns: [
                [
                    {
                        width: orderDetailFixWidth(0.4),
                        field: 'name',
                        title: '品名',
                        align: 'center',
                        halign: 'center',
                        resizable: false,
                        formatter: function (value, row, index) {
                            if (value.length > 5) {
                                return '<span title="' + value + '">' + value + '</span>';
                            } else {
                                return value;
                            }
                        }
                    },
                    {
                        width: orderDetailFixWidth(0.15),
                        field: 'num',
                        align: 'center',
                        halign: 'center',
                        resizable: false,
                        title: '数量'
                    },
                    {
                        width: orderDetailFixWidth(0.23),
                        field: 'specs',
                        align: 'center',
                        halign: 'center',
                        resizable: false,
                        title: '规格',
                        formatter: function (value, row, index) {
                            if (typeof (value) != 'undefined' && value.length > 3) {
                                return '<span title="' + value + '">' + value + '</span>';
                            } else {
                                return value;
                            }
                        }
                    },
                    {
                        width: orderDetailFixWidth(0.22),
                        field: 'price',
                        align: 'center',
                        halign: 'center',
                        resizable: false,
                        title: '小计(元)'
                    }
                ]
            ],
            onLoadSuccess: function (data) {
                var rows = data.rows;
                var num = 0;
                for (var index in rows){
                    var row = rows[index];
                    num = new Number(num + new Number(row.num));
                }
                $('#orderDetailsFoodCountId').text(num);
                $('#orderDetailsFoodTypeCountId').text(rows.length);
            }
        });
        // 实例化支付明细table
        $('#orderDetailsPayTableId').datagrid({
            url: 'order/queryOrderPayLogByOrderId',
            queryParams:{
                orderId: $('#orderDetailsOrderIDInputId').val()
            },
            fitColumns: true,
            loadMsg:'努力加载中...',
            scrollbarSize: 0,
            singleSelect: true,
            rownumbers: true,
            columns: [
                [
                    {
                        width: orderDetailFixWidth(0.5),
                        field: 'payTypeText',
                        title: '渠道',
                        align: 'center',
                        halign: 'center',
                        resizable: false
                    },
                    {
                        width: orderDetailFixWidth(0.5),
                        field: 'payPrice',
                        align: 'center',
                        halign: 'center',
                        resizable: false,
                        title: '金额(元)'
                    }
                ]
            ]
        });
    });
</script>
</body>
</html>