<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单</title>
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/easyui/css/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/easyui/css/icon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/easyui/css/demo.css}">
    <script type="text/javascript" th:src="@{/plugin/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugin/easyui/js/jquery.easyui.min.js}"></script>
</head>
<body>
<style type="text/css">
    .lines-bottom .datagrid-body td {
        border-right: 1px dotted transparent;
    }

    .lines-bottom .datagrid-footer td {
        border-right: 1px dotted transparent;
    }

    .order-oper-button {
        width: 10%;
        height: 30px;
        font-weight: bold;
        margin-top: 2px;
    }

    .order-oper-goto-pay-button {
        width: 150px;
        height: 39px;
        font-weight: bold;
        color: #FF7744;
        position: absolute;
        right: 35px;
        display: flex;
        align-items: center; /*定义body的元素垂直居中*/
        justify-content: center; /*定义body的里的元素水平居中*/
    }
</style>
<div class="easyui-layout" style="width:100%;height:100%;">
    <!--左侧已点菜品列表-->
    <div data-options="region:'west',border:false" style="width: 25%;">
        <!--已点菜品table-->
        <table id="selectedFoodTable" style="width:100%;height:100%"></table>
    </div>
    <!--右侧展示区-->
    <div data-options="region:'center',border:false">
        <!--右侧layout容器-->
        <div class="easyui-layout" style="width:100%;height:100%;">
            <!--右侧顶部操作区-->
            <div data-options="region:'north'" style="width:100%;height:18%;">
                <div class="easyui-layout" style="width:100%;height:100%;">
                    <!--操作区-->
                    <div data-options="region:'north',border:false"
                         style="width:100%;height:62%;background-color: #999999">
                        <input class="operate-button" type="button" value="0"/>
                        <input class="operate-button" type="button" value="1"/>
                        <input class="operate-button" type="button" value="2"/>
                        <input class="operate-button" type="button" value="3"/>
                        <input class="operate-button" type="button" value="4"/>
                        <input class="operate-button" type="button" value="5"/>
                        <input class="operate-button" type="button" value="6"/>
                        <input class="operate-button" type="button" value="7"/>
                        <input class="operate-button" type="button" value="8"/>
                        <input class="operate-button" type="button" value="9"/>
                        <input class="operate-button" type="button" value="加"/>
                        <input class="operate-button" type="button" value="减"/>
                        <input class="operate-button" type="button" value="清空"/>
                    </div>
                    <!--搜索区-->
                    <div data-options="region:'center',border:false"
                         style="width:100%;display:flex;align-items:center;background-color: #999999">
                        <input id="searchFoodId" class="easyui-searchbox" style="width:50%;"></input>
                    </div>
                </div>
            </div>
            <!--菜品列表展示区域-->
            <div data-options="region:'center'" style="width:100%;height:72%;">
                <!--菜品类型tabs-->
                <div id="foodTypeTabsId" class="easyui-tabs" style="width:100%;height:100%;"></div>
            </div>
            <!--底部结算区域-->
            <div data-options="region:'south'"
                 style="width:100%;height:10%;display:flex;align-items:center;background-color:#999999;">
                <a id="goToPayButId" href="#" class="easyui-linkbutton order-oper-goto-pay-button">去结算</a>
            </div>
        </div>
    </div>
</div>
<script>
    // 已选菜品数据
    var selectedFoodData = [];
    // 已选菜品合计数据
    var selectedFoodSum = [];
    // 操作区按钮点击事件
    $('.operate-button').bind('click', function () {
        var operVal = $.trim($(this).val());
        alter(operVal);
        if (operVal == '清空') {
            // 清空已选菜品数据容器
            for (var i = 0; i < selectedFoodData.length; i++) {
                delete selectedFoodData[i];
            }
            // 清空已选菜品合计数据容器
            delete selectedFoodSum[0];
            // 清空已选菜品表格
            $('#selectedFoodTable').datagrid('loadData', selectedFoodData);
            // 清空已选菜品合计区域
            $('#selectedFoodTable').datagrid('reloadFooter', selectedFoodSum);
        } else if (operVal == '减') {

        } else if (operVal == '加') {

        }
    })

    // 获取选中的菜品
    function selectFood(obj) {
        // 获取选中菜品信息
        var selectedFood = $(obj).children("input")[0].value.split(",");
        var selected = new Object();
        selected.id = selectedFood[0];
        selected.name = selectedFood[1];
        selected.price = selectedFood[2];
        selected.specs = selectedFood[3];
        selected.num = 1;
        // 同步维护已选菜品列表数据
        selectedFoodData.push(selected);
        // 同步维护合计数据
        selectedFoodSum[0].num += 1;
        selectedFoodSum[0].specs += 1;
        selectedFoodSum[0].num += 1;
        selectedFoodSum[0].price = (selectedFoodTableSum[0].price + selected.price).toFixed(2);
        // 向已选菜品列表表格中追加一行菜品数据
        $('#selectedFoodTable').datagrid('appendRow', selected);
        // 重新加载底部合计行
        $('#selectedFoodTable').datagrid('reloadFooter', selectedFoodSum);
        // [{name: '合计：', num: '2条', specs: '3份', price: '￥60.10'}]);
    };

    // 搜索框搜索方法
    function searchByFoodCode(value) {
        var tab = $('#foodTypeTabsId').tabs('getSelected');  // get selected panel
        $('#foodTypeTabsId').tabs('update', {
            tab: tab,
            options: {
                href: 'food/queryFoodsByTypeAndCode?foodCode=' + value,
            }
        });
    };
    $(function () {
        // 实例化菜品类型tab控件
        $('#foodTypeTabsId').tabs({
            border: false,
        });
        // 实例化查询控件
        $('#searchFoodId').searchbox({
            searcher: searchByFoodCode,
            prompt: '输入菜品名称首字母查询'
        });
        // 获取菜品类型，创建tabs
        $.ajax({
            //请求方式
            type: "POST",
            //请求地址
            url: "food/queryFoodTypes",
            //数据，json字符串
            data: {
                traceId: 111
            },
            //请求成功
            success: function (result) {
                $('#foodTypeTabId').tabs('add', {
                    id: 0,
                    title: '全部',
                    href: 'food/queryFoodsByTypeAndCode',
                    selected: true
                });
                if (result.length > 0) {
                    for (var index in result) {
                        $('#foodTypeTabId').tabs('add', {
                            id: result[index].id,
                            title: result[index].name,
                            href: 'food/queryFoodsByTypeAndCode?foodTypeId=' + result[index].id,
                            selected: false
                        });
                    }
                }
            },
            //请求失败，包含具体的错误信息
            error: function (e) {
                console.log(e.status);
                console.log(e.responseText);
            }
        });
        $('#selectedFoodTable').datagrid({
            data: selectedFoodTableData,
            fitColumns: true,
            scrollbarSize: 3,
            singleSelect: true,
            showFooter: true,
            columns: [
                [
                    {field: 'id', hidden: true, title: '菜品标识'},
                    {
                        width: fixWidth(0.4),
                        field: 'name',
                        title: '品名',
                        align: 'center',
                        halign: 'center',
                        resizable: false,
                        formatter: function (value, row, index) {
                            if (value.length > 5) {
                                return '<span title="' + value + '">' + value + '</span>';
                            } else {
                                return value;
                            }
                        }
                    },
                    {
                        width: fixWidth(0.15),
                        field: 'num',
                        align: 'right',
                        halign: 'center',
                        resizable: false,
                        title: '数量'
                    },
                    {
                        width: fixWidth(0.23),
                        field: 'specs',
                        align: 'right',
                        halign: 'center',
                        resizable: false,
                        title: '规格',
                        formatter: function (value, row, index) {
                            if (value.length > 3) {
                                return '<span title="' + value + '">' + value + '</span>';
                            } else {
                                return value;
                            }
                        }
                    },
                    {
                        width: fixWidth(0.22),
                        field: 'price',
                        align: 'right',
                        halign: 'center',
                        resizable: false,
                        title: '小计(元)'
                    }
                ]
            ],
            onLoadSuccess: function (data) {
                console.log(data);
                removeTableLines();
            }
        });

        // 计算宽度百分比
        function fixWidth(percent) {
            return document.body.clientWidth * percent; //这里你可以自己做调整
        };

        // 设置table只有底线
        function removeTableLines() {
            $('#selectedFoodTable').datagrid('getPanel').removeClass('lines-bottom').addClass('lines-bottom');
        };
    })

</script>
</body>
</html>